{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Immich Kiosk ({{ immich_kiosk_identifier }})
{% for service in immich_kiosk_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in immich_kiosk_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ immich_kiosk_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ immich_kiosk_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ immich_kiosk_identifier }} \
      --log-driver=none \
      --user={{ immich_kiosk_uid }}:{{ immich_kiosk_gid }} \
      --cap-drop=ALL \
      --network={{ immich_kiosk_container_network }} \
      {% if immich_kiosk_container_http_host_bind_port %}
      -p {{ immich_kiosk_container_http_host_bind_port }}:{{ immich_kiosk_container_http_port }} \
      {% endif %}
      --env-file={{ immich_kiosk_base_path }}/env \
      --label-file={{ immich_kiosk_base_path }}/labels \
      {% for volume in immich_kiosk_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in immich_kiosk_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ immich_kiosk_container_image_self_build_name if immich_kiosk_container_image_self_build else immich_kiosk_container_image }}

{% for network in immich_kiosk_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ immich_kiosk_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ immich_kiosk_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ immich_kiosk_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ immich_kiosk_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ immich_kiosk_identifier }}

[Install]
WantedBy=multi-user.target
